@import url("variables-reset.css");
@import url("styles.css");
@import url("responsive.css");

 /* Enroll form section  */
.enroll-form-container {
    padding: 5.5rem 1.5rem 3rem;
    color: var(--ash-color);
    margin-top: 2.5rem;
}

.enroll-form-header h2 {
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.enroll-form-container label {
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.75rem;
    display: block;
}

.enroll-form-container input[type="email"],
.enroll-form-container textarea {
    width: 100%;
    height: 50px;
    background-color: var(--shade-black);
    border-radius: 0.25rem;
    border: 1px solid var(--gray-text);
    color: var(--gray-text);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.email-container {
    position: relative;
}

.email-container img {
    position: absolute;
    left: 1rem;
    top: 2.95rem;
}

.enroll-form-container input[type="email"] {
    margin-bottom: 1.5rem;
    padding: 0.75rem 1.5rem 0.75rem 2.3rem;
}

.enroll-form-container textarea {
    height: 9.75rem;
    padding: 0.75rem 1.5rem;
    resize: none;
}

.enroll-form-container button {
    gap: 1.5rem;
    width: 15.5rem;
    padding: 0.75rem 3rem;
    border-radius: 0.25rem;
    border: 3px solid var(--shade-black);
    background: var(--code-nomads-green);
    box-shadow: 12px 24px 20px 0px rgba(0, 0, 0, 0.10);
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
    margin: 0.75rem auto;
}


@media screen and (min-width: 1024px) {
    .enroll-form-container {
        padding: 5.5rem 1.5rem;
        margin-top: 0;
    }

    .enroll-form-header h2 {
        margin-bottom: 1.5rem;
    }

    .enroll-form-container form {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .enroll-form-container textarea,
    .enroll-form-container input[type="email"] {
        font-size: 1.1rem;
    }
}