/* Screen sizes, mobile first approach */

@media screen and (min-width: 680px) {

    /* Hero section */
    .hero-section-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    /* How it works section */
    .steps {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 18rem;
    }
}


@media screen and (min-width: 1024px) {

    /* Header/Navigation section with links */
    header {
        position: static;
    }

    #menu-btn {
        display: none;
    }

    .close {
        display: block;
    }

    nav {
        flex-direction: row;
        align-items: center;
        gap: 1.88rem;
        width: 100%;
    }

    .logo-container {
        width: 20%;
    }

    nav .nav-links,
    nav .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .nav-links {
        width: 80%;
    }

    nav .links {
        gap: 2.5rem;
    }

    nav .links a {
        text-transform: uppercase;
    }

    /* Hero section */
    .hero-section-header h1 {
        gap: 1.5rem;
    }

    .hero-section-header h1>span:first-child {
        font-size: 4.5rem;
        line-height: 5rem;
        letter-spacing: -0.09rem;
    }

    .hero-section-header h1>span:nth-child(2) {
        font-size: 12.5rem;
        line-height: 10.625rem;
        letter-spacing: -0.25rem;
    }

    .hero-section-header h1>span:nth-child(3) {
        letter-spacing: 1.2rem;
        margin-bottom: 0;
    }

    .enroll-container h2 {
        width: 12.625rem;
        font-size: 2.5rem;
    }

    .phone-number {
        transform: rotate(90deg);
        left: unset;
        right: -4.4rem;
    }

    /* Code anywhere section*/
    .code-anywhere-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5.84rem;
    }

    .code-anywhere-details h2 {
        font-size: 2.5rem;
    }

    .code-anywhere-details p {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    /* Course timeline section */
    .course-timeline-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5rem 10rem;
    }

    /* How it works section */
    .how-it-works-container {
        padding: 5rem 1.5rem 7.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
    }

    .how-it-works-header {
        max-width: 15.4375rem;
    }

    .how-it-works-header h2 {
        margin-bottom: 3rem;
    }

    .button-container {
        position: static;
        display: block;
    }

    /* Be a .NET Developer section */
    .apply-container {
        padding-top: 8.5rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;
    }

    .apply-container .dot-net h2 {
        font-size: 6.25rem;
        line-height: 7.5rem;
        letter-spacing: -0.125rem;
        max-width: 28.875rem;
    }

    .apply-details h3 {
        font-size: 4.5rem;
        line-height: 5rem;
        letter-spacing: -0.09rem;
    }

    .apply-details p {
        margin-bottom: 2.5rem;
        max-width: 23.8125rem;
    }

    .codeNomads-text h2 {
        font-size: 8.25rem;
        letter-spacing: -0.3375rem;
        bottom: -3.3rem;
    }

    /* Footer section */
    .footer-container {
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 1.69rem 1.5rem 1.44rem;
    }

    .quicklink-nav {
        width: 150px;
        margin-bottom: 0;
    }

    .scroll-up {
        /* width: 170px; */
        width: 50%;
    }

    .quicklink-signup {
        gap: 1.88rem;
        flex-direction: column;
    }

    .scroll-up,
    .footer-socials-container,
    .quicklink-signup-container {
        position: static;
    }

    .footer-intro {
        min-width: 270px;
    }
}


@media screen and (min-width: 1300px) {
    .container-width {
        max-width: 91%;
    }

    /* Hero section */
    .hero-section-container {
        align-items: flex-end;
        padding: 4.25rem 1.5rem 3.9rem;
    }

    .hero-section-right {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
        align-items: flex-end;
    }

    .hero-image {
        width: 31.178rem;
        height: 32.3125rem;
        margin: 0 auto;
    }

    .hero-image .gradient {
        height: 15.77088rem;
    }

    .enroll-container .socials {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 5.31rem;
        text-align: right;
    }

    .scroll-down {
        margin-bottom: 2.5rem;
    }

    /* Code anywhere section */
    .code-anywhere-details {
        width: 20.625rem;
    }

    /* Courses and sub content section */
    .courses-container {
        position: relative;
        max-width: 1100px;
        min-height: 80vh;
        margin: 3rem auto;
    }

    .course-tabs {
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: -4rem;
        left: 4rem;
    }

    .course-tabs ul {
        flex-direction: row-reverse;
        transform: rotate(270deg);
        transform-origin: bottom left;
        width: 600px;
    }

    .courses-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .courses-header h2 {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        max-width: 17.5625rem;
    }

    .course-outline {
        width: 54.58rem;
        margin: auto;
    }

    /* How it works section */
    .steps {
        justify-content: flex-start;
    }

    .card {
        width: 21.875rem;
    }

    /* Be a .NET Developer section */
    .codeNomads-text h2 {
        font-size: 11.25rem;
    }
}