@import url("satoshi.css");
@import url("variables-reset.css");

/* General Style */
* {
    font-family: "Satoshi-Variable", "Satoshi", sans-serif;
    /* border: 1px solid #fff; */
}

body {
    background-color: var(--black);
    font-family: 'Satoshi-Variable';
    overflow-x: hidden;
}

a {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
    transition: all 0.3s;
}

a:hover {
    color: var(--code-nomads-green) !important;
}

.container-width {
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.close {
    display: none;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Header/Navigation section with links */
header {
    background-color: var(--black);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

nav .nav-links a {
    font-family: "Inter", sans-serif;
    color: var(--ash-color);
    margin-bottom: 0.5rem;
    display: inline-block;
}

nav .login-signup {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

nav .login-signup li:first-child::after {
    content: '/';
    margin-left: 0.5rem;
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
}

.flame {
    margin-top: 0.15rem;
}

#menu-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


/* Hero section */
.hero-section-container {
    padding: 8.5rem 1.5rem 0;
    position: relative;
}

.hero-section-header h1 {
    display: flex;
    flex-direction: column;
    gap: 1.19rem;
    text-align: right;
    color: var(--ash-color);
}

.hero-section-header h1>span:first-child {
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.75rem;
    letter-spacing: -0.08rem;
    width: 20.375rem;
    margin-left: auto;
    display: block;
}

.hero-section-header h1>span:nth-child(2) {
    color: var(--code-nomads-green);
    font-size: 9.375rem;
    font-weight: 700;
    line-height: 7.5rem;
    letter-spacing: -0.1875rem;
    display: block;
}

.hero-section-header h1>span:nth-child(3) {
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5rem;
    display: block;
    margin-bottom: 2.12rem;
}

.hero-image {
    width: 18.85769rem;
    height: 19.54388rem;
    position: relative;
    flex-shrink: 0;
    background: url("../assets/images/hero-bg.png"), 0px -0.21px / 154.275% 100.081% no-repeat;
    background-size: cover;
    margin-left: auto;
}

.hero-image .gradient {
    width: 120%;
    height: 9.53881rem;
    position: absolute;
    bottom: 0;
    right: -1.4rem;
    background: url(../assets/images/gradient.png) no-repeat;
    background-size: cover;
}

.enroll-container h2 {
    color: var(--ash-color);
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.04rem;
    width: 9.8125rem;
    margin: 0.75rem 0 2.19rem auto;
}

.enroll-container .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    outline: none;
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    border: 1px solid var(--ash-color);
}

.enroll-container .btn>span:nth-child(1) {
    padding: 0.9375rem 1.5rem;
    width: 100%;
}

.enroll-container .btn>span:nth-child(2) {
    padding: 0.875rem;
    background: var(--code-nomads-green);
}

.enroll-container .socials {
    display: none;
}

.scroll-down {
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.scroll-down a {
    padding: 1.25rem 0.375rem;
    border-radius: 3rem;
    border: 1px solid var(--gray-text);
}

.scroll-down p {
    color: var(--gray-text);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 3.51rem;
    text-transform: uppercase;
}

.phone-number {
    position: absolute;
    left: -4.5rem;
    top: 55%;
    transform: rotate(90deg);
}

.phone-number p {
    color: var(--gray-text);
    padding: 0rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: normal;
    border: 0.5px solid var(--gray-text);
    gap: 0.25rem;
    width: 8.937rem;
}

.phone-number img {
    border: 1px solid var(--code-nomads-green);
    width: 1.125rem;
    height: 1.125rem;
}

/* Code anywhere section */
.code-anywhere-container {
    display: flex;
    flex-direction: column;
    gap: 2.62rem;
    padding-bottom: 2.88rem;
    position: relative;
}

.code-anywhere-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.code-anywhere-details h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    width: 15.0625rem;
}

.code-anywhere-details h2 span:first-child {
    color: var(--gray-text);
    display: block;
    margin-bottom: 0.25rem;
}

.code-anywhere-details h2 span:nth-child(2) {
    color: var(--code-nomads-green);
    display: block;
}

.code-anywhere-details p {
    color: var(--white);
    letter-spacing: 0.015rem;
}

.code-anywhere-details a {
    width: 9.3125rem;
    padding: 0.375rem 3rem;
    border-radius: 0.125rem;
    border: 1px solid var(--ash-color);
    box-shadow: 0px 4px 10px 0px rgba(192, 181, 181, 0.10) inset;
    text-align: center;
}

.code-anywhere-image {
    width: 100%;
    max-width: 50rem;
}

.code-anywhere-image img {
    width: 100%;
}

.flare-vector {
    position: absolute;
    top: 45%;
    right: 10%;
    z-index: -1;
}

.flare-vector img {
    width: 200px;
    height: 200px;
}


/* Course timeline section */
.course-timeline-container {
    color: var(--ash-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.88rem 0;
}

.course-card {
    width: 90%;
    max-width: 25rem;
    height: 29.125rem;
    padding: 3.62rem 1.47rem;
    border-radius: 0.5rem;
    border: 6.425px solid var(--black);
    background: linear-gradient(228deg, #202224 0%, #0B0D0F 45.42%, #000408 100%);
    margin-bottom: 2.06rem;
}

.course-card button {
    border-radius: 1.5rem;
    background: var(--code-nomads-green);
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    margin-bottom: 1rem;
    color: var(--ash-color);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.course-card h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.04rem;
    width: 8.25rem;
    margin-bottom: 1.75rem;
}

.course-card ul {
    display: flex;
    align-items: center;
}

.course-duration ul {
    gap: 0.62rem;
}

.course-duration li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.course-duration li:nth-child(1)::after {
    content: '/';
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
}

.course-duration p {
    color: var(--ash-color);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: normal;
}

.students {
    margin-top: 7.7rem;
}

.students ul {
    display: flex;
    align-items: center;
    gap: -1.25rem;
    position: relative;
}

.students img {
    transform: rotate(11.296deg);
    border-radius: 2rem;
    background: lightgray 50% / cover no-repeat;
    mix-blend-mode: luminosity;
}

.students li {
    position: relative;
}

.students li:nth-child(2) {
    left: -1rem;
}

.students li:nth-child(3) {
    left: -1.5rem;
}

.students li:nth-child(4) {
    left: -2rem;
}

.students p {
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
    margin-left: -1rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    color: var(--gray-30-percent);
    text-align: center;
    font-size: 12.5rem;
    font-weight: 700;
    line-height: 10.625rem;
    letter-spacing: -0.25rem;
    margin-bottom: 0.25rem;
}

.skills h3 {
    color: var(--gray-text);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2rem;
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.75rem;
}

.line {
    width: 0.0625rem;
    height: 18.75rem;
    background-color: var(--gray-text);
}


/* Courses and sub content section */
.courses-container {
    color: var(--ash-color);
    padding: 2.94rem 1.5rem 2.32rem;
}

.course-outline,
.course-tabs  {
    display: none;
}

.course-tabs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1.2rem;
}

.course-tabs button {
    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--black);
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
    border: none;
}

.course-tabs .active-tab {
    border: 0.5px solid var(--code-nomads-green);
}

.courses-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.2rem;
}

.courses-header ul {
   padding: 1.5rem 0;
}

.courses-header ul,
.courses-header li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.courses-header li:not(.courses-header li:nth-child(3))::after {
    content: '/';
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
}

.courses-header p {
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: normal;
}

.course-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--gray-30-percent);
    padding: 1.5rem 0;
}

.course-content ul,
.course-content li,
.course-title-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.course-title-container p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
}

.course-content ul p {
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: normal;
}

.course-content li:first-child::after {
    content: '/';
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
}

/* Course outline mobile */
.course-outline-mobile h2 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.course-outline-mobile h2 button{
    background-color: var(--black); 
    outline: none;
    cursor: pointer;
    border: none;
}

.rotate {
    transform: rotate(180deg);
}


/* How it works section */
.how-it-works-container {
    position: relative;
    padding: 2.32rem 1.5rem 3.88rem;
}

.how-it-works-header h3 {
    color: var(--gray-text);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.how-it-works-header h2 {
    color: var(--ash-color);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin-bottom: 2.62rem;
}

.button-container {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.how-it-works-header a {
    display: flex;
    border: none;
}

.how-it-works-header a>span:nth-child(1) {
    padding: 0.9375rem 1.5rem;
    gap: 0.25rem;
    width: 17.0625rem;
    height: 3.25rem;
    border: 1px solid var(--ash-color);
    color: var(--ash-color);
    background-color: var(--black);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.how-it-works-header a>span:nth-child(2) {
    gap: 0.75rem;
    background: var(--code-nomads-green);
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.625rem;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    max-width: 51.25rem;
    position: relative;
}

.card {
    border-radius: 0.75rem;
    border: 2px solid #1F2123;
    background: linear-gradient(180deg, #0C0C0C 0%, #010101 100%);
    display: flex;
    gap: 0.75rem;
    padding: 1.5rem 1rem;
    align-items: flex-start;
    width: 100%;
}

.card>h3 {
    color: var(--code-nomads-green);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: normal;
}

.card-details>h3 {
    color: var(--ash-color);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.06rem;
    padding-top: 0.25;
}

.card p {
    color: var(--gray-text);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}


/* Be a .NET Developer section */
#apply {
    position: relative;
}

.apply-container {
    display: flex;
    flex-direction: column;
    padding: 3.88rem 1.5rem 0;
    position: relative;
}

.apply-container .dot-net h2 {
    color: var(--gray-30-percent);
    font-size: 4.5rem;
    margin-bottom: 2.38rem;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -0.1rem;
}

.apply-details {
    margin-bottom: 5.19rem;
}

.apply-details h3 {
    color: var(--ash-color);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}

.apply-details h3 span {
    color: var(--code-nomads-green);
}

.apply-details p {
    color: var(--gray-text);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.12rem;
    max-width: 29.5rem;
}

.contact ul {
    display: inline-flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.contact li {
    display: flex;
}

.contact li span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact li>span:nth-child(1) {
    border: 1px solid var(--code-nomads-green);
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.625rem;
}

.contact li>span:nth-child(2) {
    width: 15.9375rem;
    padding: 0.375rem 1.5rem;
    gap: 0.25rem;
    border: 1px solid var(--gray-text);
    color: var(--ash-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
}

.codeNomads-text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -4.5rem;
}

.codeNomads-text h2 {
    color: var(--code-nomads-green);
    /* background-image: linear-gradient(#ff1919, #36ff32); */
    font-size: 3.375rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.10125rem;
    text-align: center;
    position: relative;
    bottom: -1.3rem;
}

.codeNomads-text h3 {
    color: var(--shade-black);
    text-shadow: 0px 4px 7px #050502, 0px 0px 4px #ff1919;
    font-size: 3.375rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    bottom: 3.2rem;
    position: relative;
    font-size: 3.3rem;
    letter-spacing: 0.03rem;
    left: 0.1rem;
}


/* Footer section */
footer {
    background: var(--shade-black);
    position: relative;
}

.footer-container {
    padding: 1.69rem 1.5rem 1.44rem;
}

.footer-intro h3 {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.01125rem;
}

.footer-intro h3 span {
    color: var(--code-nomads-green);
}

.footer-intro>p {
    color: var(--gray-text);
    margin: 1rem 0;
}

.footer-intro {
    margin-bottom: 3rem;
}

.call {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.call p {
    color: var(--ash-color);
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.015rem;
}

.quicklink-nav {
    margin-bottom: 10.31rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.scroll-up {
    flex-direction: column;
    gap: 0.62rem;
    position: absolute;
    right: 2rem;
    bottom: 12.2rem;
}

.scroll-up a {
    border-radius: 3rem;
    background: var(--gray-text);
    height: 4rem;
    width: 2.2rem;
}

.scroll-up p {
    color: var(--gray-text);
    font-size: 0.875rem;
    font-weight: 500;
}

.footer-socials-container {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 5.94rem;
}

.footer-socials {
    display: flex;
    gap: 1.5rem;
}

.quicklink-signup {
    display: flex;
    gap: 3.46rem;
}

.quicklink-signup-container {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 1.44rem;
}

.copyright p {
    text-align: center;
    color: var(--gray-text);
    font-size: 0.8125rem;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 1.4rem;
}